@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --roxo: #820ad1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: var(--roxo);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1s ease-in-out;
}

.logo {
  position: absolute;
  transform: translate(50%, 50%);
  height: 40px;
  z-index: 10;
}

.logo-roxo {
  opacity: 0;
  position: absolute;
  transform: translate(50%, 50%);
  height: 40px;
  z-index: 11;
  transition: 0.2s 0.4s ease-in-out;
}

.logo-roxo.sign-up-mode {
  opacity: 1;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 0.8s 0.4s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.5s ease-in-out;
}

form.sign-in-form {
  z-index: 2;
}

form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  position: relative;
  max-width: 360px;
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d9d9d9;
  background-color: white;
  margin: 1rem 0;
  padding: 0.4rem;
}

.input-field::after,
.input-field::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--roxo);
  transition: 0.3s;
}

.input-field::after {
  right: 50%;
}

.input-field::before {
  left: 50%;
}

.input-field.focus i {
  color: var(--roxo);
}

.input-field.focus div h5 {
  top: -5px;
  font-size: 0.8rem;
}

.input-field.focus::after,
.input-field.focus::before {
  width: 50%;
}

.input-field > div {
  position: relative;
  height: 50px;
}

.input-field h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1rem;
  transition: 0.3s;
}

.input-field .invalid {
  color: #f00e0e;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.input-field i {
  text-align: center;
  line-height: 50px;
  color: #d9d9d9;
  font-size: 1.1rem;
}

.input-field .input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: none;
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.1rem;
  color: #555;
}

.forgot {
  max-width: 360px;
  width: 100%;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
  margin: -10px 0 15px 0;
}

.forgot:hover {
  color: var(--roxo);
}

.btn {
  width: 150px;
  height: 50px;
  border: 2px solid var(--roxo);
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  color: var(--roxo);
  margin: 10px 0;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--roxo);
  color: white;
}

/* --------- BANCO NAO TENHA REDE SOCIAL ---------- */

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 45px;
  width: 45px;
  border: 1px solid #333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  font-size: 1.1rem;
}

.social-icon:hover {
  color: var(--roxo);
  border-color: var(--roxo);
  border-width: 2px;
}

/* ---------------------------------------- */

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  display: flex;
  top: 0;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: white;
  transition: 0.5s 0.4s ease-in-out;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid white;
  width: 130px;
  height: 40px;
  color: white;
}

.btn.transparent:hover {
  background: #5f249f;
}

.image {
  width: 100%;
  transition: 0.5s 0.3s ease-in-out;
}

.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode::before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 65%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 1s ease-in-out;
  }
  .signin-signup {
    width: 100%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -100%);
    transition: 0.8s 0.4s ease-in-out;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .panel .content {
    padding-right: 12%;
    transition: 0.5s 0.4s ease-in-out;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
    margin: 0;
    background: none;
    border: 2px solid white;
    color: white;
  }

  .image {
    width: 200px;
    transition: 0.5s 0.3s ease-in-out;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }

  .container.sign-up-mode::before {
    transform: translate(-50%, 100%);
    bottom: 35%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 10%;
    transform: translate(-50%, 0);
    left: 50%;
  }
}

@media (max-width: 570px) {
  .logo {
    opacity: 0;
  }

  .logo-roxo {
    opacity: 0;
  }

  .logo-roxo.sign-up-mode {
    opacity: 0;
  }

  .container {
    min-height: 750px;
    height: 100vh;
  }
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
    justify-content: center;
  }

  .container::before {
    bottom: 70%;
    left: 50%;
  }

  .container.sign-up-mode::before {
    bottom: 30%;
    left: 50%;
  }

  .input-field {
    height: 40px;
    margin: 15px 0;
    padding: 0;
  }

  .input-field > div {
    height: 40px;
  }

  .input-field i {
    line-height: 40px;
    font-size: 1rem;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .input-field input {
    font-size: 1rem;
  }
}
